// layout 布局和颜色配置


.el-menu--dark {   
    // background-color: #324157 !important;
    background-color: #fff !important;
}
.el-menu--dark .el-submenu .el-menu {
    // background-color: #1f2d3d;
    background-color: $bgmain;
}

.el-menu--dark .el-menu-item, .el-menu--dark .el-submenu__title {
    color: #bfcbd9; 
}

.el-menu--dark .el-submenu .el-menu {
    // background-color: #1f2d3d;
    background-color: #fff;
}
.el-menu--dark .el-menu-item:focus{
    // background-color: #1f2d3d;
    background-color: $bgmain;
}
.el-menu--dark .el-menu-item, .el-menu--dark .el-submenu__title {
    // color: #bfcbd9; 
    // color: #333; 
    color: #7D7B7B; 
}


.el-menu--dark .el-menu-item:hover,.el-menu--dark .el-submenu__title:hover {
    // background-color: #48576a!important;
    background-color: $bgmain;
}

.hideSidebar .submenu-title-noDropdown span {
    -webkit-transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    opacity: 0;
}
.hideSidebar .submenu-title-noDropdown span, .hideSidebar .el-submenu > .el-submenu__title > span {
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
}   
.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active, .el-menu-item.is-active {
    color: $main !important;
    
}
.el-menu--dark .el-submenu.is-active .el-menu-item.is-active {
    color: $main !important;
}
.el-menu--dark .el-submenu.is-opened .el-menu-item{
    color: #7D7B7B !important;
}
