$blue:#324157;
$light-blue:#3A71A8;
$red: #F84949 ;
$pink: #E65D6E;
$green: #45D91B;
$tiffany: #4AB7BD;
$yellow:#F5B635;
$panGreen: #30B08F;

//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;

//默认主色调
// $main: #12A0F8;
$main: #3366FF;
$main: #3366FF !default;     
$bgmain: #EFEFF4;
$bgmain: #EFEFF4 !default;

$chatlightbg: #E8F4F9;
$chatlightbg: #E8F4F9 !default;
$chatdarkbg: #45B0F3;
$chatdarkbg: #45B0F3 !default;

$fanhui:#27AAF8;
$fanhui:#27AAF8 !default;
